/* Custom Stylesheet */
nav {
    height: 128px;
    background: rgba(43, 43, 43, 0);
    box-shadow: none;
}
nav ul {
    height: 128px;
}
nav ul li {
    line-height: 128px;
}
nav .brand-logo img {
    height: 128px;
    padding: 28px 0 28px 0;
    margin-left: -20px;
}

nav ul.hide-on-med-and-down {
    margin-right: 160px;
}
.margin-top-minus-64 {
    margin-top: -128px;
}
.z-index-minus {
    z-index: -1;
}
#index-banner {
    padding-top: 90px;
}
.parallax img {
   width: 100%;
}
nav ul a,
nav .brand-logo {
  color: #fff;
}

p {
  line-height: 2rem;
}

.parallax-container {
  min-height: 440px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

.button-detail {
  font-size: 14px;
  color: #039be5;
}
@media only screen and (max-width : 1570px) {
  nav ul.hide-on-med-and-down {
    margin-right: 130px;
  }
  nav ul a {
    padding: 0 12px;
  }
}

@media only screen and (max-width : 1400px) {
  nav ul.hide-on-med-and-down {
    margin-right: 90px;
  }
  nav .brand-logo img {
      height: 128px;
      padding: 35px 0px 35px 80px;
      margin-left: -20px;
  }
  nav ul a {
    padding: 0 9px;
  }
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 100%;
  }
  .parallax-container .section {
    top: 20%;
  }
  nav .brand-logo.right {
    display: none;
  }
}

@media only screen and (max-width : 600px) {
  .parallax-container .section {
    top: 20%;
  }
  nav .brand-logo img {
      height: 128px;
      padding: 40px 0px 40px 80px;
      margin-left: -20px;
  }
  nav .brand-logo.right {
    display: none;
  }
}

.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}
